
/*todo el header*/
.logo
{
    display: flex;
    align-items: center;
    gap: 12px;
}
.img_logo
{
    height: 50px;
    width: auto;
}
.menu
{
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}
.desplegable
{
    position: relative;
}
.submenu
{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffffff;
    list-style: none;
    padding: 10px 0;
    min-width: 150px;
    border: 1px solid #e5e7eb;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    z-index: 100;
}
.desplegable:hover .submenu
{
    display: block;
}
.submenu li a 
{
    padding: 10px 20px;
    display: block;
    font-size: 0.9rem;
    font-weight: 500;
}
.submenu li a:hover
{
    background-color: #f3f4f6;
    color: #4a51ff;
}

body 
{
    background-color: #ffffff; 
    color: #1f2937;           
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 80px;
}
.barra_anclada 
{
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    z-index: 1000;
    border-bottom: 1px solid #e5e7eb; 
    box-shadow: 0 2px 5px rgba(0,0,0,0.05); 
    box-sizing: border-box;
}

.menu a 
{
    text-decoration: none;
    color: #1f2937; 
    font-weight: bold;
}

.menu a:hover 
{
    color: #4a51ff; 
}

/*todo el main, me falta agregar la barra de busqueda*/
.destacado_del_dia 
{
    background: linear-gradient(135deg, #8c52ff 0%, #4a51ff 100%);
    border-radius: 24px;
    padding: 60px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1200px;
    margin: 40px auto;
    box-shadow: 0 15px 35px rgba(74, 81, 255, 0.2);
}

.destacado_info
{
    flex: 1;
}
.destacado_info h2 
{
    font-size: 3.5rem;
    margin: 10px 0;
    font-weight: 800;
}
.destacado
{
    background-color: rgba(255, 255, 255, 0.2);
    padding: 8px 16px;
    border-radius: 50px;
    font-size: 0.9rem;
    font-weight: bold;
}
.destacado_imagen img
{
    height: 300px;
    width: auto;
}

.boton_ver 
{
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    border: 1px solid white;
}

.seccion_populares
{
    width: 85%;
    max-width: 1200px;
    margin: 60px auto;
}
.titulo_populares
{
    font-size: 1.8rem;
    color: #1f2937;
    margin-bottom: 30px;
    font-weight: 800;
}
.grid_populares 
{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    width: 80%;
    margin: 40px auto;
}

.carta_pokemon 
{
    background-color: #ffffff;
    border: 1px solid #e5e7eb;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.carta_pokemon:hover 
{
    box-shadow: 0 10px 20px rgba(0,0,0,0.1); 
    transform: translateY(-5px);
    /*border-color: #4a51ff; tengo que buscar colores para poder ponerle a cada tipo de pokemon*/
}

.carta_pokemon img
{
    width: 140px;
    height: auto;
    margin-bottom: 15px;
}

.tipo_pokemon
{
    display: inline-block;
    background-color: #f3f4f6;
    color: #6b7280;
    padding: 5px 15px;
    border-radius: 10px;
    font-size: 0.8rem;
    font-weight: bold;
    margin-top: 10px;
}

.tipo_pokemon.fuego 
{
    background-color: #ff6a00;
    color: white;
}

.tipo_pokemon.agua 
{
    background-color: #3399ff;
    color: white;
}

.tipo_pokemon.planta 
{
    background-color: #77cc55;
    color: white;
}

.tipo_pokemon.normal 
{
    background-color: #a8a878;
    color: white;
}
.tipo_pokemon.veneno
{
    background-color: #a040a0;
    color: white;
}
.tipo_pokemon.psiquico
{
    background-color: #f85888;
    color: white;
}
.tipo_pokemon.siniestro
{
    background-color: #705848;
    color: white;
}
.tipo_pokemon.dragon
{
    background-color: #7038f8;
    color: white;
}
.tipo_pokemon.volador
{
    background-color: #a890f0;
    color: white;    
}
.tipo_pokemon.legendario
{
    background-color: #fcc21b;
    color: #1f2937;
}

/*ahora el footer, me falta poner descripcion al final y el logo tmabien*/

.final_pagina
{
    background-color: white;
    border-top: 1px solid #e5e7eb;
    padding: 40px 0;
    margin-top: 60px;
    text-align: center;
}
.contenido_footer p
{
    color: #6b7280;
    font-size: 0.9rem;
    margin-bottom: 15px;
}
.footer_links
{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.footer_links a
{
    text-decoration: none;
    color: #1f2937;
    font-size: 0.8rem;
    font-weight: 500;
    transition: color 0.2s;
}
.footer_links a:hover
{
    color: #4a51ff;
}